## Leetcode Pandas 50

In [1]:
import pandas as pd

In [3]:
data = [
    {"article_id": 1, "author_id": 3, "viewer_id": 5, "view_date": "2019-08-01"},
    {"article_id": 1, "author_id": 3, "viewer_id": 6, "view_date": "2019-08-02"},
    {"article_id": 2, "author_id": 7, "viewer_id": 7, "view_date": "2019-08-01"},
    {"article_id": 2, "author_id": 7, "viewer_id": 6, "view_date": "2019-08-02"},
    {"article_id": 4, "author_id": 7, "viewer_id": 1, "view_date": "2019-07-22"},
    {"article_id": 3, "author_id": 4, "viewer_id": 4, "view_date": "2019-07-21"},
    {"article_id": 3, "author_id": 4, "viewer_id": 4, "view_date": "2019-07-21"}
]

views_df = pd.DataFrame(data)
print(views_df)

   article_id  author_id  viewer_id   view_date
0           1          3          5  2019-08-01
1           1          3          6  2019-08-02
2           2          7          7  2019-08-01
3           2          7          6  2019-08-02
4           4          7          1  2019-07-22
5           3          4          4  2019-07-21
6           3          4          4  2019-07-21

1. Write a solution to find all the authors that viewed at least one of their own articles.

Return the result table sorted by id in ascending order.

The result format is in the following example.

In [6]:
author_views_df = views_df[views_df["author_id"] == views_df["viewer_id"]][["author_id"]]
author_views_df = author_views_df.drop_duplicates()
author_views_df = author_views_df.rename(columns={"author_id":"id"})
author_views_df = author_views_df.sort_values("id").reset_index(drop=True)

In [7]:
author_views_df

   id
0   4
1   7